.cp-banner {
    width : 100%;
    height : 250px;
    display : flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-radius: 5px 5px 0px 0px;
    border-color: #d2d2d2;
    border-width: 1px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-style: solid;
}

.cp-banner img{
  width: 50%;
}

.cp-banner-input {
    display : none;
}

.tags {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }
.tag-input {
    text-decoration: none;
    color: #00aeef;
    font-size: 1.4rem;
    margin-left: 0.5rem;
}

.cp-platformInfoArea img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-right: 2rem;
  object-fit: cover;
  float: left;
}
.cp-platformInfoArea{
  display: flex;
  border-style: solid;
  border-color: #d2d2d2;
  border-width: 1px;
  padding: 1rem 2rem 1rem 2rem;
}

.cp-platformInfoArea a{
  text-decoration: none;
  color: #000000;
  font-size: 4rem;
}

.cp-platformInfo {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: 1.2rem;
  width: 100%;
}

.cp-platformInfo span{
  font-size: 1.5rem;
}

.cp-platformTop{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end
}

.cp-fontcolor p{
  font-size: 1.3rem;
}

.cp-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 1rem;
}

.cp-buttons button {
  border: 1px solid;
  border-radius: 5px;
  padding: 0.3rem 1rem 0.3rem 1rem;
  margin-left: 0.5rem;
  cursor: pointer;
}