.platform_insert_box{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin : 10px 20px;    
}

.platform_insert_box-data{
    display: flex;
    flex-direction: row;
    gap : 30px;
    margin-bottom: 10px;
}
