# Use : env.example -> .env
ORIGIN=localhost:3000
MONGODB_URL=mongodb://localhost/bluespace
MONGODB_URL_REMOTE=mongodb://3.144.185.48:27017/bluespace
CLIENT_ID=506755665568-6jjmmjkcpuc4of62a2s5idulrbuebr69.apps.googleusercontent.com
